@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  90% {
    opacity: .9;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: auto;
  max-width: 1440px; }

body {
  font-weight: 400;
  line-height: 1.7;
  color: grey;
  font-size: 1.6rem; }

.heading-primary {
  font-family: Tangerine;
  font-weight: 700;
  line-height: 1.2; }
  .heading-primary__main {
    display: block;
    font-size: 14rem;
    letter-spacing: 3rem;
    color: rgba(50, 48, 33, 0.9); }
  .heading-primary__sub {
    display: block;
    font-size: 6rem;
    letter-spacing: 1.2rem;
    color: #e5c9a3;
    text-align: right; }

.heading-secondary {
  font-family: Lato;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: grey;
  text-transform: uppercase; }

.u-text-center {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.btn, .btn:link, .btn:visited {
  color: rgba(229, 201, 163, 0.7);
  font-size: 5rem;
  text-decoration: none;
  display: inline-block; }

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }

.features__card {
  display: inline-block;
  width: 100%;
  height: 30rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.7);
  transition: all .5s; }
  .features__card--light {
    background-color: lightgrey; }
  .features__card--dark {
    background-color: grey; }
  .features__card:hover {
    transform: translateY(-3rem) scale(1.1); }
  .features__card:active {
    transform: rotateZ(92deg); }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    top: 4rem;
    left: 14rem;
    width: 30%;
    transition: all .5s;
    transition-delay: .1s;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
    .composition__photo--1 {
      transform: translate(-6rem, -6rem); }
    .composition__photo--2 {
      transform: translate(11rem, -6rem); }
    .composition__photo--3 {
      transform: translate(11rem, 11rem); }
    .composition__photo--4 {
      transform: translate(-6rem, 11rem); }
    .composition__photo:hover {
      transform: scale(2.4);
      z-index: 20;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      transition-delay: 0; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  margin: 3rem 2rem;
  height: 95vh;
  background-image: url(../img/mikesh-kaos-42527-unsplash.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    display: inline-block;
    width: 100%;
    margin-top: 10rem;
    text-align: center; }
  .header__btn {
    position: absolute;
    bottom: 2%;
    left: 48%;
    transition: all .3s; }
  .header__btn:hover {
    transform: scale(1.5) translateY(-0.5rem); }

.about {
  display: block;
  margin: 0 2rem;
  margin-top: -4rem;
  background-color: rgba(239, 211, 173, 0.3);
  height: 100vh; }
  .about__text:not(:last-child) {
    margin-bottom: 2rem; }
