*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  scroll-behavior: smooth; //only chrome
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin:auto;
  max-width: 1440px;
}
